@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';

.missing-border {
	border-color: #dc3545 !important;
}

.missing-text {
	color: #dc3545;
	font-size: smaller;
}
